Repository elhos2003/lab6-devopps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

build-frontend:
  stage: build
  variables:
    CONTEXT_PATH: ./frontend

build-backend:
  stage: build
  variables:
    CONTEXT_PATH: ./backend

Create docker-build-template.yml
  shared-ci/docker-build-template.yml
Due: none

Create Dockerfile
  frontend/Dockerfile
Due: build-frontend

Create Dockerfile
  backend/Dockerfile
Due: build-backend

Create docker-compose.yml
  docker-compose.yml
Due: none

Create .env
  .env
Due: none

Create nginx.conf
  nginx/nginx.conf
Due: none

Path conditions:
  build-frontend: any of: frontend/**
  build-backend: any of: backend/**
